@model SearchResultViewModel

@{
    ViewData["Title"] = "MAL Search";
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function () {

window.setTimeout(function() {
    $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove();
    });
}, 5000);

});
</script>
<div class="alert-box">
    @Html.Raw(TempData["Alert"])
</div>


<h2 class="text-center">Anime Search</h2>
<div class="container text-center">

    <form asp-controller="MAL" asp-action="Search" method="get">

        <div class="input-group">
            <input type="search" name="SearchString" placeholder="Search for anime..." class="form-control search-bar">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </form>

</div>


<div class="container-fluid bg-2">

    @if (Model.SearchResults.Count != 0)
    {
        <table class="table table-bordered table-striped text-center table-responsive container-fluid">
            <tr>

                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.SearchResults[0].Entry.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.SearchResults[0].Entry.Score)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.SearchResults[0].Entry.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.SearchResults[0].MAL_User_Status)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.SearchResults[0].User_Status)
                </th>

            </tr>

            <tbody>

                @foreach (var item in Model.SearchResults)
                {
                    <tr>
                        <td class="title-desc col-md-7">

                            <div class="col-sm-2">

                                <img src="@Url.Content(@item.Entry.Image)" class="img-responsive">
                            </div>

                            <div class="col-sm-10">
                                <a href="@Url.Content(@item.Entry.GetLink())">@Html.DisplayFor(modelItem => item.Entry.Title)</a>

                                @if (!String.IsNullOrEmpty(@item.Entry.English))
                                {

                                    <p>Eng: @Html.DisplayFor(modelItem => item.Entry.English)</p>
                                }

                                @if (!String.IsNullOrEmpty(@item.Entry.Synonyms))
                                {
                                    <p>Syn: @Html.DisplayFor(modelItem => item.Entry.Synonyms)</p>
                                }
                                <p>Type: @Html.DisplayFor(modelItem => item.Entry.Type) (@Html.DisplayFor(modelItem => item.Entry.Episodes) eps)</p>
                                <p>@item.Entry.GetStartDateNiceFormat() - @item.Entry.GetEndDateNiceFormat()</p>

                            </div>
                        </td>

                        <td class="v-center">
                            @Html.DisplayFor(modelItem => item.Entry.Score)
                        </td>

                        <td class="v-center">
                            @Html.DisplayFor(modelItem => item.Entry.Status)@*needs to have a conditional on what to display*@
                        </td>

                        <td class="v-center">

                            @if (item.MAL_User_Status == null || item.MAL_User_Status == "")
                            {


                            } else
                            {
                                @Html.DisplayFor(modelItem => item.MAL_User_Status)@*needs to have a conditional on what to display*@
                            }

                            
                        </td>

                        <td class="v-center">

                            @if(item.User_Status == null || item.User_Status == "")
                            {
                                <form asp-action="Add" asp-controller="Animes" method="post">
                                    <input type="hidden" name="MALID" value="@item.Entry.MALID" />
                                    <input type="hidden" name="End_Date" value="@item.Entry.End_Date" />
                                    <input type="hidden" name="English" value="@item.Entry.English" />
                                    <input type="hidden" name="Episodes" value="@item.Entry.Episodes" />
                                    <input type="hidden" name="Image" value="@item.Entry.Image" />
                                    <input type="hidden" name="Score" value="@item.Entry.Score" />
                                    <input type="hidden" name="Start_Date" value="@item.Entry.Start_Date" />
                                    <input type="hidden" name="Status" value="@item.Entry.Status" />
                                    <input type="hidden" name="Synonyms" value="@item.Entry.Synonyms" />
                                    <input type="hidden" name="Synopsis" value="@item.Entry.Synopsis" />
                                    <input type="hidden" name="Title" value="@item.Entry.Title" />
                                    <input type="hidden" name="Type" value="@item.Entry.Type" />
                                    <input type="submit" value="Add" class="btn btn-info syn-btn" />
                                </form>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.User_Status)@*needs to have a conditional on what to display*@
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>